<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Epidsys.Properties.Settings.epidsysConnectionString"
            connectionString="server=localhost;user id=root;password=23051997;database=epidsys;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Epidsys.Properties.Settings.epidsysConnectionString1"
            connectionString="server=localhost;user id=root;database=epidsys"
            providerName="MySql.Data.MySqlClient" />
        <add name="Epidsys.Properties.Settings.KONEC" connectionString="server=localhost;user id=root;password=23051997;database=epidsys"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>